/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.background__color {
  background-color: var(--background-color);
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--text-variable-weight);
  font-size: 18px;
  color: var(--text-color);
  background-image: var(--background-image);
  background-attachment: fixed;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: var(--width-clamp);
  margin-block-start: 102px;
  margin-block-end: 97px;
  padding-block-end: 25px;
  padding-top: 136px;
  font-family: var(--decor-font);
  text-transform: var(--font-main-text-transform);
  line-height: var(--font-main-line-height);
  border: 2px solid var(--text-color);
}

.header__link {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  padding-block: 20px 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-family: var(--decor-font);
  font-size: 14px;
  padding-inline-start: 20px;
}

.theme-menu__button {
  text-transform: var(--font-main-text-transform);
}

.button {
  padding: 0;
  font: inherit;
  border: none;
  outline: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.card__like-button {
  width: 130px;
  height: 38px;
}

.button__animation {
  outline: 2px solid var(--text-color);
  font-family: var(--decor-font);
  line-height: var(--font-main-line-height);
  font-size: 14px;
  position: relative;
}

.button__animation:focus-visible {
  transition: box-shadow 0.3s ease;
  box-shadow: 3px 3px 0px 0px var(--text-color);
}

.button__animation::after {
  position: absolute;
  content: '';
  transform: scaleX(0);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--focus-color);
  transition: 0.5s ease-in-out;
  transform-origin: left center;
  mix-blend-mode: difference;
}

.button__animation:hover::after {
  transform: scaleX(1);
}

.button__save {
  padding: 15px 20px;
}

.theme-menu__item button {
  position: relative;
}

.theme-menu__item button:hover {
  transition: opacity 0.3s ease;
  opacity: 0.6;
}

.theme-menu__item button:disabled {
  cursor: default;
  opacity: 0.6;
  content: '▶';
  position: relative;
  pointer-events: none;
}

.theme-menu__item button:disabled::before {
  position: absolute;
  content: '▶';
  top: 0;
  left: -21px;
  animation: theme-menu 0.5s infinite ease-in-out alternate;
}

.theme-menu__item button:focus {
  outline: none;
  transition: opacity 0.3s ease;
  opacity: 0.6;
}

.theme-menu__item button::after {
  position: absolute;
  content:'';
  top: 15px;
  left: -3px;
  width: 108%;
  border-bottom: 2px solid var(--text-color);
  transform: scale(0);
  transform-origin: left center;
}

.theme-menu__item button:focus-visible::after {
  animation: scale 0.3s forwards alternate;
}

.main {
  width: var(--width-clamp);
  font-variation-settings: 'wght' var(--text-variable-weight);
  line-height: 116.667%;
}

.card {
  margin-inline: auto;
  border: 2px solid var(--text-color);
  background-color: var(--background-color);
  max-inline-size: 696px;
  margin-bottom: 54px;
  padding-bottom: 23px;
}

.card__title {
  border-bottom: 2px solid var(--text-color);
  font-family: var(--main-font);
  font-size: 18px;
  font-style: normal;
  line-height: var(--font-main-line-height);
  display: block;
  padding-inline-start: 10px;
  padding-block: 4px;
  font-variation-settings: 'wght' var(--text-variable-weight);
  position: relative;
}

img {
  display: block;
  width: 100%;
}

.card__label {
  position: relative;
  overflow: hidden;
}

.card__img-label {
  z-index: 1;
  position: absolute;
  opacity: 0.5;
  color: var(--text-color);
  font-size: 14px;
  line-height:  var(--font-main-line-height);
  text-transform: var(--font-main-text-transform);
  text-shadow: 0 0 1px var(--background-color);
  inset-inline-end: 13px;
  inset-block-start: 24px;
  mix-blend-mode: hard-light;
  font-family: var(--decor-font);
}

.content {
  display: grid;
  gap: 27px;
  padding: 25px 23px 0 25px;
  font-size: 18px;
  line-height: calc(21 / 18);
  border-top: 2px solid var(--text-color);
  font-variation-settings: 'wght' var(--basictext-variable-weight);
}

.button__likes {
  display: flex;
  position: relative;
  justify-content: flex-end;
  gap: 12px;
  align-items: center;
}

.sparks {
  opacity: 0;
}

.footer__save {
  margin-block-end: 105px;
  position: relative;
}

.footer__svg {
  width: 21px;
  height: 21px;
}

.modal {
  border: 2px solid var(--text-color);
  padding: 25px 30px;
  color: var(--text-color);
  font-family: var(--decor-font);
  font-size: 14px;
  line-height: 150%;
  text-transform: var(--font-main-text-transform);
  background: var(--background-color);
  max-inline-size: 355px;
}

.modal[open] {
  display: flex;
  gap: 30px;
  flex-direction: column;
  width: 100%;
}

.modal::backdrop {
  opacity: 0.75;
  background: #000;
}

.modal__content {
  display: flex;
  align-items: center;
  gap: 20px;
  font-variation-settings: 'wght' var(--basictext-variable-weight);
  line-height: 21px;
}

.card__icon-button {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card__icon-buttont:focus-visible {
  outline: 2px solid var(--text-color);
  transition: outline 0.3s;
}

.modal__icon {
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 39px;
}

.button__modal {
  display: flex;
  inline-size: 100%;
  height: 37px;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  width: 257px;
  padding: 0;
}

.button__OK {
  inline-size: 100%;
  display: flex;
  justify-content: center;
}

.filter-sepia {
  filter: sepia(100%);
}

.filter-grayscale {
  filter: grayscale(100%);
}

.filter-multiple {
  filter: contrast(50%);
}

.filter-blur {
  filter: blur(10px);
}

.filter-all {
  filter: invert(1) brightness(200%) saturate(60%) hue-rotate(90deg);
}

.filter-saturate {
  filter: saturate(200%) contrast(175%) brightness(3%);
}

.filter-invert {
  filter: invert(100%);
  border: none;
  outline: none;
}

@media (width <= 376px) {
  .header {
    width: 100%;
    padding-top: 120px;
  }

  .main {
    width: 100%;
  }

  .content {
    padding-right: 24px;
  }

  .card {
  margin-bottom: 50px;
}

  .modal {
    max-inline-size: 350px;
    font-size: 15px;
  }

  .footer__svg {
    width: 28px;
    height: 28px;
  }

  .card__icon-button {
    flex-direction: column;
    gap: 8px;
  }
}

@supports (
  (-webkit-text-stroke: 1px var(--background-color)) or (text-stroke: 1px var(--background-color))
) {
  .card__img-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
  }
}