/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --width-clamp: clamp(375px, 50%, 696px);
  --main-font: 'PressStart2P';
  --title-font: 'Inter';
  --basic-font: sans-serif;
  --font-main-line-height: normal;
  --font-main-text-transform: uppercase;
  --font-Inter-Variable: 'Inter';
  --flex-direction: column;
  --align-items: center;
  --heart-core: none;
  --color-sparks: #FF0000;
} 
